{% extends 'base.html' %}

{% load mptt_tags %}

{% block content %}

        <div class="row show-grid">
            <div class="span12">

                <div id="breadcrumb">
                <ul>
                    <li class="home"><a href="/">Главная</a></li>
                    <li>Документы</li>
                    <li>{{ item.name }}</li>
                </ul>
                </div>
                <div class="row show-grid clear-both">
                   
                    <div id="left-sidebar" class="span3 sidebar">
                        <div class="side-nav sidebar-block">
                            <h2>Страницы</h2>
                            <ul>
                                {% recursetree docs %}
                                    <li {% if node.id == item.id %} class="active" {% endif %}>
                                        <a href="/docs/{{ node.id }}">{{ node.name }}</a>
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </div>                                
                    </div>

                    <div class="span9 main-column two-columns-left">
                        <article>
                            
                            {% for i in item.docfile_set.all %}
                                <h2><a href='/media/{{ i.file }}' target='blank'>{{ i.name }}</a></h2>
                                <p>{{ i.desc }} <br />
                                <a href='/media/{{ i.file }}' target='blank'>Скачать&nbsp;&raquo;</a>
                                </p>
                                <div class="text-divider6">
                                    <span></span>
                                </div>
                            {% empty %}
                                <h2>В этой категории ничего не найдено.</h2>
                            {% endfor %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
        
        <hr />

    <div class="main-block block-posts">
        <div class="title-wrapper">
            <h2>Последние новости</h2><a href="/news/" class="all">Все новости&nbsp;&raquo;</a>
        </div>
        <div class="row show-grid clear-both">
            <div class="span12">
                <div class="row show-grid">
                    {% for n in news %}
                    <div class="span3">
                        <a class="block-post-title" href="/news/{{ n.slug }}">{{ n.title }}</a>
                        <p class="block-post-date">{{ n.date }}</p>
                        <p class="block-post-content">{{ n.desc|striptags }}...</p>
                        <a class="block-post-more" href="/news/{{ n.slug }}">Далее&nbsp;&raquo;</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
