{% extends 'base.html' %}

{% load mptt_tags %}

{% block content %}
<hr />

<div class="main-block block-posts">
    <div class="title-wrapper">
        <h2>Последние новости</h2><a href="/news/" class="all">Все новости&nbsp;&raquo;</a>
    </div>
    <div class="row show-grid clear-both">
        <div class="span12">
            <div class="row show-grid">
                {% for n in news %}
                <div class="span3">
                    <a class="block-post-title" href="/news/{{ n.slug }}">{{ n.title }}</a>
                    <p class="block-post-date">{{ n.date }}</p>
                    <p class="block-post-content">{{ n.desc|striptags }}...</p>
                    <a class="block-post-more" href="/news/{{ n.slug }}">Далее&nbsp;&raquo;</a>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row main-block">
    <div class="span12">
        <div class="row">
<!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
            <div class="span6 home-block hero-block-1">
                {{ content|safe }}
            </div>
<!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
            <div class="span1">
            </div>
<!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
            <div class="span5 home-block">
                <div class="grey-box hero-block-1">
                    <h1>Подблок</h1>
                    <img src='/media/uploads/employee/z_59735dcb.jpg' />
<!--                     <a href="#" class="btn btn-warning"><i class="icon-shopping-cart"></i>Buy it now just for $18</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row main-block">
    <div class="span12">
        <div class="row show-grid hero-list">
            {% recursetree docs %}
            <div class="span3">
         
                <a href='/docs/{{ node.id }}'><h2>{{ node.name }}</h2></a>
                <p>
                    <ul>
                        {% for i in node.docfile_set.all %}
                            <li><a href='/media/{{ i.file }}' target='blank'>{{ i.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <a href="/docs/{{ node.id }}">Далеe&nbsp;&raquo;</a>
                </p>
            </div>
            {% endrecursetree %}
        </div>
    </div>
    <div class="horizontal-divider span12"></div>
</div>

{% endblock %}
